<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head></head>
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <p>
                Task Tracker
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged in as: <span sec:authentication="name"></span> |
                    <a href="/web/">Home</a> |
                    <a href="/web/showTasks">Show Tasks</a> |
                    <a href="/web/showTaskInstances">Show Task Instances</a> |
                    <a href="/web/newTask">Create New Task</a> |
                    <a href="/web/newOneTimeTask">Create New One-time Task</a> |
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
            </p>
        </div>
    </footer>

</th:block>

</body>
</html>
