<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head></head>
<body>
<th:block th:fragment="footer">
    <footer class="footer bg-primary text-white container-fluid">
        <div class="row">Task Tracker</div>
        <div class="row" sec:authorize="isAuthenticated()">Logged in as:&nbsp;
            <div style="display: inline-block;" sec:authentication="name"></div>
        </div>
        <div class="row">
            <a class="col-xs-1" href="/web/">Home</a>&nbsp;|&nbsp;
            <a class="col-xs-1" href="/web/showTaskSubscriptions">Show Tasks</a>&nbsp;|&nbsp;
            <a class="col-xs-1" href="/web/showTaskInstances">Show Task Instances</a>&nbsp;|&nbsp;
            <a class="col-xs-1" href="/web/subscriptions/newTask">Create New Task</a>&nbsp;|&nbsp;
            <a class="col-xs-1" href="/web/oneTimes/newTask">Create New One-time Task</a>&nbsp;|&nbsp;
            <a class="col-xs-1" th:href="@{/logout}">Sign Out</a>
        </div>
    </footer>

</th:block>

</body>
</html>
