table{
    border-collapse:collapse;
    border:1px solid #000000;
}

table td{
    border:1px solid #000000;
}

h1 {
    color: #78ab46;
}

.button-box {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: aliceblue;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: left;
}