.main-body {
    padding-bottom: 200px;
}

table{
    border-collapse:collapse;
    border:1px solid #000000;
}

table td{
    border:1px solid #000000;
}

h1 {
    color: #78ab46;
}

.button-box {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: aliceblue;
}

.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}