<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Tasks page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <fieldset>
        <legend>Create a new one-time task</legend>
        <form modelAttribute="newOneTimeTask" action="/web/oneTimes/newTask" method="post">
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>
            <div class="row">
                <label class="col-md-3" for="name"> Name:
                </label>
                <input type="text" class="form-control col-md-9" id="name" name="name" autofocus="autofocus" required
                       placeholder="One-time task name">
                <span></span>
            </div>
            <div class="row">
                <label class="col-md-6" for="necessaryCompletions"> Number of times to complete task:
                </label>
                <input type="number" class="form-control col-md-6" id="necessaryCompletions" name="necessaryCompletions"
                       required min="1"
                       placeholder="1">
                <span></span>
            </div>
            <div class="row">
                <label class="col-md-9" for="weight">Task points (choose value 1-5 to denote how important, where 5 is
                    most
                    important):</label>
                <input type="number" class="form-control col-md-3" id="weight" name="weight" required max="5" min="1"
                       placeholder="1"/>
            </div>
            <div class="row">
                <!--TODO validate that this date is today or greater-->
                <label class="col-md-9" for="date-select">By which day should the task be completed?</label>
                <input id="date-select" class="form-control col-md-3" type="date" name="dueDate" required/>
            </div>
            <div>
                <input type="submit" class="submit btn btn-info app-buttons" value="Create"/>
            </div>

        </form>
    </fieldset>
</div>
</body>
</html>