<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>My To Do List</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="text/javascript" th:src="@{~/js/TaskInstances.js}"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <table>
        <tr>
            <td>Task Name</td>
            <td>Task Points</td>
            <td>Completions Goal</td>
            <td>Completions So Far</td>
            <td>Due Date</td>
        </tr>
        <tr th:each="task : ${tasks}">
            <div th:if="${task.active}">
                <td th:text="${task.name}"></td>
                <td th:text="${task.weight}"></td>
                <td th:text="${task.necessaryCompletions}"></td>
                <td th:text="${task.completions}" th:id="'completions' + ${task.taskInstanceId}"></td>
                <td th:text="${task.dueDate}"></td>
                <td>
                    <button th:id="'incrementCompletions' + ${task.taskInstanceId}"
                            th:onclick="'updateCompletions(' + ${task.id} + ',' + ${task.taskInstanceId} + ',1)'">
                        +1 Completions
                    </button>
                </td>
                <td>
                    <button th:id="'decrementCompletions' + ${task.taskInstanceId}"
                            th:onclick="'updateCompletions(' + ${task.id} + ',' + ${task.taskInstanceId} + ',-1)'">
                        -1 Completions
                    </button>
                </td>
            </div>
        </tr>
        <tr>
            <td>
                One Time Task Instances
            </td>
        </tr>
        <tr th:each="task : ${oneTimeTasks}">
            <div th:if="${task.active}">
                <td th:text="${task.name}"></td>
                <td th:text="${task.weight}"></td>
                <td th:text="${task.necessaryCompletions}"></td>
                <td th:text="${task.completions}" th:id="'completions' + ${task.id}"></td>
                <td th:text="${task.dueDate}"></td>
                <td>
                    <button th:id="'incrementCompletions' + ${task.id}"
                            th:onclick="'updateOneTimeCompletions(' + ${task.id} + ', 1)'">
                        +1 Completions
                    </button>
                </td>
                <td>
                    <button th:id="'decrementCompletions' + ${task.id}"
                            th:onclick="'updateOneTimeCompletions(' + ${task.id} + ', -1)'">
                        -1 Completions
                    </button>
                </td>
            </div>
        </tr>
    </table>
</div>

</body>
</html>