<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>New User</title>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="text/javascript" src="js/registration.js"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>User registration page</h1>
            <form th:action="@{/register}" method="post" id="registrationForm">
                <div th:if="${param.duplicateUsername}">
                    <div class="alert alert-danger">
                        Username taken. Please try again.
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username (must be unique among users)</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           required
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="email">Please enter your email address</label>:
                    <input type="email"
                           id="email"
                           name="email"
                           class="form-control"
                           placeholder="Enter email"
                           required>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           minlength="8"
                           required
                           onblur="check(this)"
                           placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Password</label>:
                    <input type="password"
                           id="confirmPassword"
                           name="confirmPassword"
                           class="form-control"
                           required
                           onblur="check(this)"
                           placeholder="Confirm password">
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="register-submit"
                               id="register-submit"
                               class="form-control btn btn-info btn-primary"
                               value="Sign up">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>